/* CSS Document
*
* @autor Fernanda Pieretti
* @data abr2018
* @ref style.css
*
*/

body {
    font-family: Lato;
    overflow-x: hidden;
}

.flex {
    display: flex;
}

#header {
    background: url(../img/background/1.png) no-repeat top center;
    padding: 25px 0;
    height: 159px;
    color: #fff;
}

#header h1 {
    font-size: 45px;
    cursor: default;
}

#header p {
    font-size: 15px;
    cursor: default;
}

#conteudo {
    background: url(../img/background/2.png) no-repeat top center;
    padding: 50px 0 0;
    color: #373435;
    text-align: center;
}

#conteudo .texto {
    height: 140px;
}

#conteudo h2 {
    font-size: 40px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    cursor: default;
    position: relative;
}

#conteudo h2:after {
    content: '';
    width: 85px;
    height: 2px;
    background: #ED3237;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -43px;
}

#conteudo p {
    font-size: 16px;
    cursor: default;
}

#conteudo ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 90px 0 0;
    padding: 0;
}

#conteudo ul li {
    color: #BDBFC1;
    cursor: default;
}

#conteudo ul li.active {
    color: #ED3237;
}

#conteudo ul li span {
    display: block;
    color: #fff;
    background: #E6E7E8;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    text-align: center;
    line-height: 60px;
    margin: auto;
    font-size: 33px;
    font-weight: bold;
}

#conteudo ul li.active span {
    color: #ED3237;
    background: #fff;
    border: 3px solid #ED3237;
    line-height: 54px;
}

#dados1 .input {
    margin: 50px auto 10px;
    position: relative;
    width: 595px;
}

#dados1 .input input {
    width: 100%;
    height: 65px;
    line-height: 65px;
    padding: 0 20px;
    background: #fff;
    border: 2px solid #A9ABAE;
    border-radius: 5px;
    outline: none;
    font-family: Lato;
    font-size: 20px;
}

#dados1 .input i {
    color: #E6E7E8;
    font-size: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
}

#dados1 p a {
    color: #ED3237;
    font-size: 14px;
    font-weight: bold;
}

#dados2 .resultado {
    margin-top: 30px;
    text-align: left;
}

#dados2 .resultado .endereco {
    background: url(../img/background/3.png) repeat center;
    background-size: cover;
    border-left: 15px solid #B00C0F;
    color: #FEFEFE;
    padding: 20px;
}

#dados2 .resultado .endereco h4 {
    margin: 0;
    font-size: 33px;
}

#dados2 .resultado .endereco p {
    margin: 0;
}

#dados2 .resultado .endereco .texto {
    margin-top: 30px;
}

#dados2 .resultado .endereco .texto p {
    font-size: 13px;
}

#dados2 .resultado .calendario {
    background: #F5F5F5;
    padding: 30px;
}

#dados2 .resultado .horarios {
    background: #F0F0F0;
    padding: 20px;
}

#dados2 .resultado .horarios h4 {
    color: #ED3237;
    font-size: 13px;
    text-align: center;
    cursor: default;
}

#dados2 .resultado .horarios ul {
    color: #606062;
    font-size: 13px;
    text-align: center;
    list-style: none;
    margin: 30px auto 0;
    padding: 0;
    max-width: 220px;
}

#dados2 .resultado .horarios ul li {
    width: 90px;
    display: inline-block;
    margin: 3px 0;
}

#dados2 .resultado .horarios ul li.select,
#dados2 .resultado .horarios ul li:hover {
    background: #E6E7E8;
    border-radius: 3px;
    cursor: default;
}

#dados3 .info {
    background: #f5f5f5;
    padding: 25px;
    text-align: left;
}

#dados3 .info input[type=text] {
    background: #FEFEFE;
    border: 1px solid #D2D3D5;
    border-radius: 3px;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    width: 100%;
    outline: none;
    margin-bottom: 10px;
}

#dados3 .info select {
    background: #E6E7E8;
    border: 1px solid #D2D3D5;
    border-radius: 3px;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    width: 100%;
    outline: none;
    margin-bottom: 10px;
}

#dados3 .info .sexo {
    margin-bottom: 10px;
}

#dados3 .info .sexo .masc {
    color: #3C468B;
}

#dados3 .info .sexo .fem {
    color: #ED2F59;
}

#dados3 .info .sexo div {
    background: #E6E7E8;
    border: 1px solid #D2D3D5;
    border-radius: 50px;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    margin-left: 10px;
}

#dados3 .info .sexo span {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50px;
    background: #fff;
    border: 1px solid #D2D3D5;
    margin: 0 10px;
}

#dados3 .info .sexo i {
    font-size: 18px;
    margin: 0 2px;
}

#dados3 .local {
    background: #f0f0f0;
    padding: 25px 25px 70px;
    text-align: left;
}

#dados3 .local p {
    margin: 0;
    font-size: 14px;
}

#dados3 .local p.sms {
    color: #A9ABAE;
    position: absolute;
    bottom: 20px;
}

#dados3 .local p.sms i {
    color: #ED3237;
}

.dados {
    text-align: center;
    color: #373435;
    margin-top: 40px;
    margin-bottom: 40px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.dados h2 {
    font-size: 34px;
    cursor: default;
}

.dados p {
    font-size: 16px;
    cursor: default;
}

.dados .btn1 {
    height: 55px;
    border: none;
    background: #DD1616;
    cursor: pointer;
    padding: 0 30px;
    color: #FEFEFE;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: #ccc 2px 2px 2px;
    margin: 30px 10px 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.dados .btn2 {
    height: 55px;
    border: none;
    background: #D2D3D5;
    cursor: pointer;
    padding: 0 30px;
    color: #FEFEFE;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: #ccc 2px 2px 2px;
    margin: 30px 10px 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.dados .btn3 {
    height: 55px;
    border: none;
    background: #57B952;
    cursor: pointer;
    padding: 0 30px;
    color: #FEFEFE;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: #ccc 2px 2px 2px;
    margin: 30px 10px 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.dados .btn1:hover,
.dados .btn2:hover,
.dados .btn3:hover {
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#datepicker table {
    width: 100%;
    text-align: center;
}

#datepicker a {
    color: #606062;
}

#datepicker .ui-state-active {
    color: #ED3237;
}

#datepicker .ui-datepicker-title {
    color: #ED3237;
    font-size: 16px;
    cursor: default;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

#datepicker .ui-datepicker-prev {
    float: left;
    color: #D2D3D5;
    font-size: 30px;
    line-height: 18px;
    cursor: pointer;
    margin-left: 15px;
}

#datepicker .ui-datepicker-next {
    float: right;
    color: #D2D3D5;
    font-size: 30px;
    line-height: 18px;
    cursor: pointer;
    margin-right: 15px;
}

.remove {
    height: 0px;
    opacity: 0;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {

	#header h1 {
		font-size: 35px;
	}
    #conteudo ul {
        margin-top: 66px;
    }
    #dados1 .input {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
	#header h1 {
		font-size: 30px;
	}

    #conteudo ul li {
        font-size: 11px;
    }
    #conteudo ul {
        margin-top: 81px;
    }
}
@media only screen and (max-width: 400px) {
#dados3 .info .sexo div { padding: 0 7px;}
}